@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Ubuntu:ital,wght@0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.h1-gradient{
  @apply bg-gradient-to-r from-blue-600 via-indigo-500 to-green-500 bg-clip-text text-transparent inline-block;
}